[submodule "submodules/pro-tabs"]
	path = submodules/pro-tabs
	url = https://github.com/gnu-emacs-ru/pro-tabs
[submodule "submodules/carriage"]
	path = submodules/carriage
	url = https://github.com/gnu-emacs-ru/carriage
[submodule "submodules/emcp"]
	path = submodules/emcp
	url = https://codeberg.org/martenlienen/emcp

[submodule "submodules/telega.el"]
	path = submodules/telega.el
	url = https://github.com/zevlg/telega.el
[submodule "submodules/agent-shell"]
	path = submodules/agent-shell
	url = https://github.com/11111000000/agent-shell
	branch = main
[submodule "submodules/acapella"]
	path = submodules/acapella
	url = https://github.com/gnu-emacs-ru/acapella
[submodule "submodules/atlas"]
	path = submodules/atlas
	url = https://github.com/gnu-emacs-ru/atlas
[submodule "submodules/tao-theme"]
	path = submodules/tao-theme
	url = https://github.com/11111000000/tao-theme-emacs
[submodule "submodules/shaoline"]
	path = submodules/shaoline
	url = https://github.com/11111000000/shaoline
[submodule "submodules/agent-shell-hud"]
	path = submodules/agent-shell-hud
	url = https://github.com/11111000000/agent-shell-hud.git
	branch = main
[submodule "submodules/acp"]
	path = submodules/acp
	url = https://github.com/xenodium/acp.el
