/.agent-shell/
...*
.context
logs/
result
.tao/
analyse/
result-cf19/
logs/
local.nix
local-nix
bootstrap/local.nix
.org
*.swp
*.swo
*.tmp
*~
*.elc
*.eln
*#
.#*
*.bak
*.orig
*.rej
auto-save-list/
.direnv/
tmp/
temp/
